body{
    background: #F5F5F5;
}

.max-860 {
    max-width: 860px;
}

.request-link {
    padding: 8px;
    background: #f0f0f0;
    border-radius: 3px;
    color: #707070;
}

.doc-links {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    padding-bottom: 50px;
    border-bottom: 1px solid #f0f2f1;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
}
.doc-links li {
    display: list-item;
    padding: 5px 0;
}
.doc-links li a {
    text-decoration: none;
}
.doc-links li a:before {
    content: "# ";
    margin-right: .25em;
    color: rgb(255,64,129);
    opacity: .3;
}

/* Request parameter */
.params, .params table{
    width: 100%;
}

.params td {
    padding: 15px;
    vertical-align: text-top;
}

.params .param-name {
    width: 15%;
    font-weight: bold;
}

.params .param-desc {
    width: 40%;
}

.params .param-value {
    width: 20%;
    font-weight: bold;
}

.params .param-attr {
    width: 20%;
}

.additional
{
    margin-top: 10px;
}
.additional p
{
    color: #707070;
}
.note {
    padding: 10px 0 10px 20px;
    border-left: 4px solid #ff5722;
    margin-left: 16px;
    background-color: #f9f9f9;
    font-size: 1.3em;
}
.note code {
    font-style: italic;
    font-weight: 600;
}
